<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todofunc09.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d48d4876-16cc-4469-bc15-c6249858fd97/resourceGroups/rg-project4/providers/Microsoft.Web/sites/todofunc09</ResourceId>
    <UserName>$todofunc09</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://todofunc09.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>