<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d48d4876-16cc-4469-bc15-c6249858fd97/resourceGroups/rg-project4/providers/Microsoft.Web/sites/todolistweb14</ResourceId>
    <ResourceGroup>rg-project4</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todolistweb14.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ba3cb317-20ff-4c5d-879e-4c980815ed88</ProjectGuid>
    <PublishUrl>https://todolistweb14.scm.azurewebsites.net/</PublishUrl>
    <UserName>$todolistweb14</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>